.control-label {
  text-align: left !important; /* !important added for priority in SO snippet. */
  padding-left: 1.5em;
}


input.table-form{
  width: 100%;
  border-radius: 0 !important;
}

#pr-number{
  border-radius: 0 !important;
}



